workspace/OrderCreate_v2_0/Schemas/JSONParserActivityOutputSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xsd:string"/>
                <xs:element name="expiresInSeconds" type="xsd:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xsd:schema>