workspace/Asmt6 (1) (2)/Modify.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1609308862890/ModifyOperationImpl/Asmt6_sp__lpar_1_rpar__sp__lpar_2_rpar_" xmlns:ns0="http://www.tibco.com/schemas/workspace/Asmt6 (1)/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1609308862890/ModifyOperationImpl/Asmt6_sp__lpar_1_rpar__sp__lpar_2_rpar_">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/workspace/Asmt6 (1)/Schema.xsd" targetNamespace="http://www.tibco.com/schemas/workspace/Asmt6 (1)/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Branch" type="xs:string"/>
            <xs:element name="FatherName" type="xs:string"/>
            <xs:element name="M1" type="xs:string"/>
            <xs:element name="M2" type="xs:string"/>
            <xs:element name="M3" type="xs:string"/>
            <xs:element name="RollNO" type="xs:string"/>
            <xs:element name="StudentDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:RollNO"/>
                        <xs:element ref="ns0:StudentName"/>
                        <xs:element ref="ns0:FatherName"/>
                        <xs:element ref="ns0:Branch"/>
                        <xs:element ref="ns0:M1"/>
                        <xs:element ref="ns0:M2"/>
                        <xs:element ref="ns0:M3"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StudentName" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Modify">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://localhost:8082/Asmt6%20(1)%20(2)/Modify"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="ModifyOperation">
            <wsdl:input message="tns:ReqModifyMessage"/>
            <wsdl:output message="tns:ResModifyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ModifyOperation">
            <soap:operation style="rpc" soapAction="/Asmt6%20(1)%20(2)/Modify"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://InputMessageNamespace" parts="Request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://OutputMessageNamespace" parts="Response"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ReqModifyMessage">
        <wsdl:part name="Request" element="ns0:StudentDetails"/>
    </wsdl:message>
    <wsdl:message name="ResModifyMessage">
        <wsdl:part name="Response" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>